table.dataTable thead th {
  font-size: 1rem;
  font-weight: 600;
}
th.dt-orderable-asc,
th.dt-orderable-desc {
  min-width: 100px;
}
.content-footer {
  min-height: 60px;
  position: relative;
}
table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > th.dt-ordering-asc,
table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc,
table.dataTable thead > tr > td.dt-ordering-desc {
  position: relative;
  padding-right: 23px;
}
